
.logo {margin-left:30px;
       margin-top: 30px;
       margin-bottom: 24px;
}
ul {
  list-style-type: none;
  padding-bottom:0px;
  padding-left: 0px;
  margin-left: 31px;
  font-size: 22px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  text-align:left;
color: #3D58A6;
}
li {
  margin-bottom: 12px;
}
a {text-decoration: none;
color:#3D58A6; 
}
.active a{
  color: #EE4036;}
section{
  margin-top: 29px;  
  margin-left: 30px;
  margin-bottom: 36px;
}
.HTMLphoto{ 
	width: 1171px;
	height: 460px;
  padding-bottom: 0px;
}
  .imgtext {
  position: absolute;
  top: 200px;
  padding: 30px;
  font-size: 30px;
  font-family: Roboto-Bold;
  text-align: left; 
  width: 301px;
  height: 166px;
  color: #E6E6E6;
  }

 .footer{
  margin-left: 30px;
  text-align: left;}
 .vertical-line{
        border-left: 2px solid #3D58A6;
        display: inline-block;
        height: 27px;
        width:0px;
        margin:0 32px;
        color: blue;}